/*
 * github-markdown.css provides all the CSS needed for the markdown content.
 * This CSS provides what's needed for the outer tags that wrap the markdown content.
 */

.container {
    /* Center fixed width content with top and bottom margins. */
    width:980px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.markdown-body {
    /* Surround content with a border with slightly rounded corners. */
    border:1px solid #ddd;
    border-radius:3px;

    /* Create the space needed for hover anchors to the left of headings. */
    padding:30px;
}
