<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link href="//necolas.github.io/normalize.css/latest/normalize.css" media="all" rel="stylesheet" type="text/css">

    <!-- For whatever reason github-markdown.css is not available via https from github.io and retrieving
         it raw from github.com results in the wrong MIME type. So we use the RawGit service instead.
    -->
    <link href="//rawgit.com/sindresorhus/github-markdown-css/gh-pages/github-markdown.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ "/css/container.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

</head>

<body>
    
<div class="container">
    <article class="markdown-body">
        {{ content }}
    </article>
</div>

{% include anchor_links.html %}

</body>
</html>
